<h1><%= 'My tasks'%></h1>

<% @tasks.each do |t|  %>
  <div class="flexbox">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" <%= t.completed ? 'checked' : '' %> >
    <h5><%= link_to t.title, task_path(t) %></h5>
  </div>

<!-- <h5><%= t.completed%></h5> -->
<% end %>

<h4><%= link_to "+ Add new task", new_task_path %><h4>
